@import "../../../../styles/settings.scss";

.button {
  background-color: rgb(66, 85, 152);
  text-align: center;
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s;

  &:hover {
    background-color: rgb(77, 99, 179);
  }
}
